# プロジェクト概要
- これは「ゆうやみ」というユーザーのWebアプリやSNSアカウントへのリンクをまとめたポータルサイトです

# 制限
- このリポジトリ以外のファイルを読み書きするには許可が必要
- Git操作には必ずユーザーの許可が必要

# 利用ライブラリなど
- ペライチサイトですが、Vue.jsとtailwindの学習のため利用しています。

# 設計
- ペライチサイトなので設計は存在しないに等しいですが、強いて言うならば元となるデータ（JSオブジェクト）があり、Vue.jsを通してDOMに変換するという関数型に寄せた思想を元に書かれています。